CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
Build/
build/
test-firmware/build/
bramble
bramble_tests
python/
mpy.bin
cpy.bin
megaflash.uf2
flash/
A2OSX.STABLE.32MB.po
.DS_Store
